#infoField {
  position: absolute;
  box-shadow: 0px 0px 15px #444;
  -moz-box-shadow: 0px 0px 15px #444444;
  -webkit-box-shadow: 0px 0px 15px #444444;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  padding: 20px;
  margin-top: 120px;
  margin-left: -170px;
  left: 50%;
  z-index: 20;
  border-radius: 5px;
  background: #303743;
}

#blackFilter {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  z-index: 10;
}

#socialSidebar {
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 15px #444444;
  padding: 5px;
  right: 0px;
  top: 75px;
  height: 80%;
  width: 180px;
  background: #e0dfeb;
}

.socialButtons {
  cursor: pointer;
  width: 60px;
  height: 60px;
  float: left;
}

.socialButtons:hover {
  opacity: 0.8;
}

#userInfo p {
  font-size: 16px;
}

#userInfo img {
  display: none;
}

#friends {
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#friends li {
  font-size: 13.5px;
  text-align: left;
  cursor: pointer;
}

#friends li:hover {
  background: #A0CAE2;
}

.facebookButton {
  display: block;
  background-image: url('../img/facebookbutton.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.googleButton {
  display: block;
  background-image: url('../img/googlebutton.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.twitterButton {
  display: block;
  background-image: url('../img/twitterbutton.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#videoboxes {
  display: inline-block;
  margin: 25px auto 0px auto;
  padding: 5px;
}

#videoboxes .user {
  width: 300px;
  height: 265px;
  margin: 10px;
  float: left;
}

#videoboxes .name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  color: #303743;
  width: 100%;
  padding: 5px 0px 5px 0px;
  background: #e0dfeb;
  box-shadow: inset 1px 1px 5px #444;
  -webkit-box-shadow: inset 1px 1px 5px #444;
}

#videoboxes video {

  width: 300px;
  height: 230px;
  background: #999;
}

#videoboxes form, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.videoOptions {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;
  position: absolute;
  background: #303743;
  opacity: 0.7;
  width: 300px;
  z-index: 20;
}

.videoOptions img {
  cursor: pointer;
  width: 50px;
  margin-top: 198px;
}

.videoOptions img:hover {
  background: #888;
}

#hangupButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 50px;
  border-left: 8px solid #e0dfeb;
  border-bottom: 8px solid #e0dfeb;
  box-shadow: 0px 0px 15px #444444;
  background: #303743;
  background-image: url('../img/hoerer_rot.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 10px;
}

#hangupButton:hover {
  opacity: 0.8;
}
