
#tooltip {
  position: absolute;
  width: 200px;
  margin-top: 10px;
  margin-left: 50%;
  left: -113px;
  font-size: 15px;
  padding: 16px;
  border: 2px solid black;
  border-radius: 10px;
  background: #e0dfeb;
}

#tooltipArrow {
  position: absolute;
  border-left: 2px solid black;
  border-top: 2px solid black;
  width: 20px;
  height: 20px;
  margin-left: 50%;
  left: -10px;
  background: #e0dfeb;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#local-stream, #remote-stream{
  width:200px;
  height:200px;
  background:#999;
}