#infoField {
  position: absolute;
  -moz-box-shadow: 0px 0px 15px #444444;
  -webkit-box-shadow: 0px 0px 15px #444444;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  padding: 20px;
  margin: 250px 100px;
  background: #303743;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#socialSidebar {
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 15px #444444;
  right: 0px;
  top: 75px;
  height: 500px;
  width: 180px;
  background: #e0dfeb;
}

.socialButtons {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.socialButtons:hover {
  opacity: 0.8;
}

#facebookButton {
  display: block;
  background-image: url('../img/facebookbutton.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#videoboxes {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 5px;
  background: #e0dfeb;
  margin: 25px auto 0px auto;
}

#videoboxes .user {
  width: 300px;
  height: 330px;
  margin: 10px;
  float: left;
}

#videoboxes .name {
  float: left;
  background: #303743;
  color: #fff;
  width: 300px;
  margin-bottom: 5px;
  padding: 5px 0px 5px 0px;
}

#videoboxes video {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
  background: #999;
}

#videoboxes form, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

#hangupButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 50px;
  border-left: 8px solid #e0dfeb;
  border-bottom: 8px solid #e0dfeb;
  box-shadow: 0px 0px 15px #444444;
  background: #303743;
  background-image: url('../img/hoerer_rot.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 10px;
}

#hangupButton:hover {
  opacity: 0.8;
}
