#infoField {
  display: none;
  position: absolute;
  border-radius: 5px;
  width: 600px;
  margin-left: -300px;
  margin-top: -50px;
  left: 50%;
  z-index: 35;
  background: rgba(255,255,255,0);
}

#arrow {
  float: left;
  width: 100px;
}

#chrome {
  float: left;
  margin-top: 100px;
}

#blackFilter {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  z-index: 30;
}

.get_friends {
  position: fixed;
  right: -10px;
  margin-top: 350px;
  width: 0px;
  height: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 100;
  opacity: 0.8;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #3692d8 60%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(60%,#3692d8)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#3692d8 60%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#3692d8 60%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#3692d8 60%); /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%,#3692d8 60%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3692d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  overflow-x: hidden;
}

#scrollbar_fix {
  position: absolute;
  width: 150px;
  height: 100%;
  right: 0px;
  top: 0px;
  overflow: hidden;
}

#social_sidebar_container {
  position: absolute;
  width: 450px;
  height: 100%;
  right: -300px;
  top: 0px;
  overflow: hidden;
}

#show_sidebar_shadow {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 115px;
  top: 45%;
  overflow: hidden;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  box-shadow: 0px 0px 15px #444;
  -webkit-box-shadow: 0px 0px 15px #444;
}

#show_sidebar {
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 115px;
  top: 45%;
  z-index: 25;
  overflow: hidden;
  background: #303743;
  background-image: url('../img/sidebar-arrow.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 10px solid #e0dfeb;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  font-size: 50px;
  font-family: arial;
  color: #e0dfeb;
}

#show_sidebar:hover {
  opacity: 1;
  overflow: hidden;
}

#social_sidebar {
  position: absolute;
  height: 100%;
  width: 300px;
  right: 0px;
  top: 0px;
  box-shadow: 0px 0px 15px #444444;
  background: #e0dfeb;
  overflow: hidden;
  z-index: 75;
}

.socialButtons {
  cursor: pointer;
  width: 74.5px;
  height: 25px;
  float: left;
  overflow: hidden;
}

.socialButtons:hover {
  opacity: 0.8;
}

#userInfo{
display: inline-block;
margin: 5px;
padding: 25px;
color: #888;
line-height: 1.5;
}
#userInfo p {
  font-size: 16px;
  text-shadow: 0px -1px 1px #fff;
}

#userInfo img {
  display: none;
}

#friends {
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#friends li {
  font-size: 13.5px;
  text-align: left;
  cursor: pointer;
}

#friends li:hover {
  background: #A0CAE2;
}

.facebookButton {
  display: block;
  background: #3b5998;
  background-image: url('../img/sidebar/facebook.png');
  background-size: auto 75%;
  background-position: center center;
  background-repeat: no-repeat;
}

.googleButton {
  display: block;
  background: #db5149;
  background-image: url('../img/sidebar/google.png');
  background-size: auto 75%;
  background-position: center center;
  background-repeat: no-repeat;
}

.email_button {
  display: block;
  background: #fbfbfb;
  background-image: url('../img/sidebar/email.png');
  background-size: auto 75%;
  background-position: center center;
  background-repeat: no-repeat;
}

.qr_code{
  display: block;
  background: #66666b;
  background-image: url('../img/sidebar/qrcode.png');
  background-size: auto 75%;
  background-position: center center;
  background-repeat: no-repeat;
}

.tab_active{
  border-top: 1px solid #444444;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0px 1px 1px #999;
}

.inactive{
  border-bottom: 1px solid #444444;
  box-shadow: inset 1px 0px 1px #888;
}

#videoboxes {
  display: inline-block;
  margin: 40px auto 0px auto;
}

#videoboxes .user {
  width: 600px;
  height: 527px;
  float: left;
  margin: 10px;
}

.videoWrapper {
  text-align: left;
  position: relative;
  width: 100%;
  height: 450px;
  margin: 27px 0 0 0;
  padding: 0;
  border: 1px solid #888;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.videoWrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.videoWrapper video {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.videoWrapper .stateMute{
  width:64px;
  height:64px;
  background:url(../img/speaker_mute.png);
  position: absolute;
  z-index: 2;
  display:none;
}

.videoWrapper .removeParticipant{
  width:64px;
  height:64px;
  background:url(../img/hangup.png);
  position: absolute;
  z-index: 2;
  right:0px;
}

#videoboxes .name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  color: #303743;
  width: 100%;
  padding: 5px 0px 5px 0px;
  background: #e0dfeb;
  background-size: 37px;
  background-repeat: no-repeat;
  background-position: 0px;
  box-shadow: inset 1px 1px 5px #444;
  -webkit-box-shadow: inset 1px 1px 5px #444;
}

#videoboxes form, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

/*------------Options under lokal Video--------------*/

#video_options {
  z-index: 50;
  width: 100%;
  height: 25px;
  float: left;
}

.video_options_buttons {
  position: absolute;
  cursor: pointer;
  width: 194px;
  height: 25px;
  float: left;
  padding-top: 5px;
  background: #66666b;
  border: 5px solid #66666b;
  color: white;
  font-weight: bold;
}

.video_options_buttons:hover {
  background: #e0dfeb;
  border-color: #e0dfeb;
  color: #66666b;
}

#control_audio {
  border-left: 1px solid #444444;
  border-bottom: 1px solid #444444;
  border-bottom-left-radius: 5px;
}

#control_effects {
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  border-bottom-right-radius: 5px;
  margin-left: 400px;
}

#control_video {
  border-bottom: 1px solid #444444;
  margin-left: 200px;
}
/*
 .videoOptions {
 display: none;
 opacity: 0;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 position: absolute;
 background: #fdfdfd;
 width: 300px;
 height: 251px;
 z-index: 20;
 }

 .videoOptionsItems {
 width: 50%;
 height: 50%;
 float: left;
 }

 .videoOptionsItems:hover {
 cursor: pointer;
 background: #607890;
 }

 .videoOptions img {
 cursor: pointer;
 width: 50px;
 margin-top: 198px;
 }

 .videoOptions img:hover {
 background: #888;
 }
 */

#hangupButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 50px;
  border-left: 8px solid #e0dfeb;
  border-bottom: 8px solid #e0dfeb;
  box-shadow: 0px 0px 15px #444444;
  background: #e0dfeb;
  background-image: url('../img/hoerer_rot.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 10px;
}

#hangupButton:hover {
  opacity: 0.8;
}

#videoEffects {
  display: none;
  margin-top: 250px;
  height: 40px;
  width: 300px;
  color: #303743;
  background: #e0dfeb;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 1px 0px 0px #444;
  -webkit-box-shadow: inset 1px 1px 5px #444;
}

#videoEffects input {
  float: left;
  margin-left: 5px;
  width: 80px;
  height: 25px;
}

#faceDetectorOutput {
  width: 100%;
  float: left;
  display: none;
}

#progressSnapshotbar {
  display: none;
  margin: 0 auto;
}

.room-wrapper {
  text-align: center;
}

.effectButton{
  display:none;
}

#takeOffClothesButton{
  display:none;
}

#qrcode_box{
  height:100px;
  width:100%;
}

#mail_form{
  display:none;
}

.recordLocalVideo{
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(../img/stop_record_video.png);
  z-index: 2;
  background-repeat: no-repeat;
  top: 60px;
  left: 10px;
  display:none;
}

.recordRemoteVideo{
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(../img/stop_record_video.png);
  z-index: 2;
  background-repeat: no-repeat;
  top: 60px;
  left: 10px;
  display:none;
}

.recordLocalAudio{
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(../img/stop_record_audio.png);
  z-index: 2;
  background-repeat: no-repeat;
  top: 90px;
  left: 10px;
  display:none;
}

.recordRemoteAudio{
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(../img/stop_record_audio.png);
  z-index: 2;
  background-repeat: no-repeat;
  top: 90px;
  left: 10px;
  display:none;
}

.countryLocation{
  width:32;
  height:32;
}