{{#view App.AuthView}} <a class="socialButtons tab_inactive" id="facebook_tab" {{action "facebookTab" target="view" }}></a>
<a class="socialButtons tab_inactive" id="google_tab" {{action "googleTab" target="view"}}></a>
<a class="socialButtons tab_inactive" id="email_tab"{{action "emailTab" target="view"}}></a>
<a class="socialButtons tab_inactive" id="qr_tab" {{ action "QrCodeTab" target="view" }}></a>
{{/view}}
<!-- user-login data -->
<div id="userInfo">
  <br />
  <h1>INFO</h1>
  <br />
  <p>
    Melde dich mit <strong>Facebook</strong> oder <strong>Google+</strong> an und schicke deinen Freunden direkt eine Chateinladung.
    Du bist bei keinem dieser Netzwerke? KEIN PROBLEM, schicke einfach eine gute alte <strong>eMail</strong> ;)
  </p>
</div>
<div class="sidebar_content" id="qrcode_box">
  <div id="userInfo">
    <h1>INFO</h1>
    <br />
    <p>
      Damit deine Freunde mit dir Chatten können müssen sie nur die selbe URL in die Browseradresszeile eingeben. 
      Damit du ihnen diese Adresse per SMS schicken kannst musst du nur mit der passenden App auf deinem Smartphone
      diesen QR-Code abphotografieren und das Ergebnis per SMS verschicken.
    </p>
    <br />
  </div>
</div>
<div class="sidebar_content" id="friends_of_facebook"></div>
<div class="sidebar_content" id="friends_of_google"></div>
<div class="sidebar_content" id="friends_of_email">
  <form id="mail_form">
    <input type="text" class="email_input" id="mailAddress" placeholder="E-Mail Addresse"/>
    <textarea type="text" class="email_input" id="mailDescription" placeholder="E-Mail Beschreibung"></textarea>
    <input type="button" id="mailFormButton" value="Sende E-Mail" {{action "addMailInfo" target="App.Controller.auth"}} />
  </form>
</div>