{{#view App.AuthView}} <a class="socialButtons tab_inactive" id="facebook_tab" {{action "facebookTab" target="view" }}></a>
<a class="socialButtons tab_inactive" id="google_tab" {{action "googleTab" target="view"}}></a>
<a class="socialButtons tab_inactive" id="email_tab"{{action "emailTab" target="view"}}></a>
<a class="socialButtons tab_inactive" id="qr_tab" {{ action "QrCodeTab" target="view" }}></a>
{{/view}}
<!-- user-login data -->
<div class="sidebar_content">
  <div class="confirm_send">Erfolgreich versendet</div>
  <div id="userInfo">
    <h1>INFO</h1>
    <br />
    <p class="sidebar_text">
      Melde dich mit <strong>Facebook</strong> oder <strong>Google+</strong> an und schicke deinen Freunden direkt eine Chateinladung.
      Du bist bei keinem dieser Netzwerke? KEIN PROBLEM, schicke einfach eine gute alte <strong>eMail</strong> ;)
    </p>
  </div>
  <div id="qrcode_box">
    <div id="qrcode_img"></div>
    <h1 class="sidebar_info">INFO</h1>
    <br />
    <p class="sidebar_text">
      Damit deine Freunde mit dir Chatten können müssen sie nur die selbe URL in die Browseradresszeile eingeben. 
      Damit du ihnen diese Adresse per SMS schicken kannst, scannst du mit einer Barcodescanner-App diesen QR-Code
       und das Ergebnis verschickst du per SMS.
    </p>
    <br />
  </div>
  <div id="friends_of_facebook">
    <h1>INFO</h1>
    <br />
    <p class="sidebar_text">
      Es sollte jetzt gerade ein neues kleines Browserfenster erscheinen, in dem du dich mit deinem Facebook-Namen und Passwort anmelden kannst. 
      Dadurch können wir dir deine Freunde auflisten, die du dann mit einem Klick einladen kannst. Dadurch wird ihnen eine Facebook-E-Mail oder 
      Chatnachricht geschickt, mit dem Link zu dieser Seite. Wenn deine Freunde den Link im Browser öffnen, können sie mit dir in diesem Chatraum chatten.
    </p>
    <br/>
    <img class="load_progress_bar_auth" src="assets/img/process_bar.gif">
  </div>
  <div id="friends_of_google">
    <h1>INFO</h1>
    <br />
    <p class="sidebar_text">
      Es sollte jetzt gerade ein neues kleines Browserfenster erscheinen, in dem du dich mit deiner Gmail-Adresse und Passwort anmelden kannst. 
      Dadurch können wir dir deine Kontakte auflisten, die du dann mit einem Klick einladen kannst. Dadurch wird ihnen eine E-Mail geschickt mit
      dem Link zu dieser Seite. Wenn deine Freunde den Link im Browser öffnen, können sie mit dir in diesem Chatraum chatten.
    </p>
    <br/>
    <img class="load_progress_bar_auth" src="assets/img/process_bar.gif">
  </div>
  <div id="friends_of_email">
    <form id="mail_form" style="display: inline-block;">
      {{view Ember.TextField valueBinding="App.Controller.auth.emailAddress" class="email_input" id="mailAddress" placeholder="Adresse" }}
      {{view Ember.TextArea valueBinding="App.Controller.auth.emailDesc" class="email_input" id="mailDescription" placeholder="Beschreibung" maxlength="160" }}
      <p style="float: right;margin-right: 10%;margin-top: -3%;margin-bottom: 5%;">{{App.Controller.auth.emailDesc.length}}/160</p>
      <input type="button" id="mailFormButton" value="Sende E-Mail" {{action "addMailInfo" target="App.Controller.auth"}} />
    </form>
    <h1 class="sidebar_info">INFO</h1>
    <br />
    <p class="sidebar_text">
      Hier kannst du deine Freunde per E-Mailnachricht zum Chat einladen. Gib einfach nur die Adresse eines/einer FreundIn an
      und schreibe ihm/ihr zB eine persönliche Begrüßung. Mit klick auf Senden wird eine E-Mailnachricht versendet, 
      mit dem Link zu dieser Seite. Wenn deine Freunde den Link im Browser öffnen, können sie mit dir in diesem Chatraum chatten. Bitte beachte, dass
      du nur maximal 160 Zeichen in der Beschreibung mitschicken kannst.
    </p>
  </div>
</div>