{{#view App.UserView}} 
<div class='userHead' id="locaHead">
  <div class="userName">Phovec-Benutzer</div>
</div>
<div class="videoWrapper">
  <div class="stateMute"></div>
  <div class="recordLocalVideo"></div>
  <div class="recordLocalAudio"></div>
  <img class='defaultAvatar' src="assets/img/avatar.jpg"/>
  <video autoplay muted></video>
  <audio autoplay loop muted></audio>
  <canvas id="faceDetectorOutput"></canvas>
  <div id="videoEffects">
    <div {{action putGlassesOnUser target="view" }} class="effectButton" id="glasses" ></div>
    <div {{action putHatOnUser target="view" }} class="effectButton" id="hat" ></div>
    <div {{action putBeardOnUser target="view" }} class="effectButton" id="beard" ></div>
    <div {{action controlEffects target="view" }} class="effectButton" id="effect_off" >
      kein Effekt
    </div>
    <div {{action controlEffects target="view" }} class="effectButton" id="effect_off" >
      kein Effekt
    </div>
    <div {{action controlEffects target="view" }} class="effectButton" id="effect_off" >
      kein Effekt
    </div>
  </div>
</div>

<div id="video_options">
  <div class="video_options_buttons" id="control_audio" {{ action controlAudio target="view" }}>
    Audio an/aus
  </div>
  <div class="video_options_buttons" id="control_video" {{ action controlVideo target="view" }}>
    Video an/aus
  </div>
  <div class="video_options_buttons disabled" id="control_effects" {{ action controlEffects target="view" }}>
    Effekte an/aus
  </div>
</div>
{{/view}}